body {
    background-color: #f1f1f1;
    font-family: "Raleway", sans-serif;
}

/* Head  */
.head {
    text-align: center;
}

/* end Head */
.container {
    display: flex;
}

.col1 {
    width: 50%;
    margin-left: 15%;
}

.tile img {
    width: 100%;
}

.tile h2,
h3,
p {
    padding: 1% 5%;
}

.tile button {
    margin: 2% 5%
}

.tile {

    margin: 6%;
    background-color: white;
    box-shadow: 0px 0px 15px #0000002c;
}

.tile2 {
    width: 20%;
    margin-top: 2.8%;
    padding: 0px;

}

.item2 {
    background-color: #fff;
    margin: 10% 0%;
    box-shadow: 0px 0px 5px rgb(37, 27, 27);
}

.item h1,
.item p {
    background-color: white;
    margin: 0%;
    padding: 1% 3%
}

#pop {
    padding: 5%;
    background-color: #f1f1f1;
}

.im {
    height: 50px;
    background-color: #fff;
    padding: 5% 2%;
}

.item2 p,
.item2 h3 {
    margin: 0.1%;
}

.item3 {
    box-shadow: 0px 0px 5px black;
    background-color: #fff;
}

.item3 ul {
    display: flex;
    margin: 0px;
    padding: 0%;
    list-style-type: none;
    flex-wrap: wrap;
}

.item3 ul li {
    padding: 4.5%;

}